Flask==2.0.0
Flask-Caching==1.10.1
Flask-Compress==1.10.1
joblib==1.0.1
lightgbm==3.3.1
matplotlib==3.4.1
miceforest==5.1.2
numpy==1.19.4
pandas==1.2.4
pyod==0.9.5
scipy==1.6.2
seaborn==0.11.1
sklearn==0.0
statsmodels==0.13.1
suod==0.0.8
typing-extensions==3.7.4.3
xgboost==1.5.1
yellowbrick==1.4
